.ipynb_checkpoints
.snakemake
FindSimSeqs/CalcGlobEditDistance
FindSimSeqs/FindSimSeqs
scripts/__pycache__
simulations
src/eskemap
src/sweep
out/
.vscode/settings.json
*.out
*.err
__pycache__/
src/sweep.d
src/sweep.o
sweep
indexDump.idx
newevals/eval_sweep-ChrY/
newevals/eval_sweep-ChrY-K22/
reads-chm13-positive.fa
reads-chm13.fa
newevals/
