.ipynb_checkpoints
.snakemake
FindSimSeqs/CalcGlobEditDistance
FindSimSeqs/FindSimSeqs
scripts/__pycache__
simulations
src/eskemap
src/sweep
evals/out*
evals/reads/
.vscode/settings.json
*.out
*.err
__pycache__/
src/*.d
src/*.o
ext/*.o
sweep
indexDump.idx
newevals/eval_sweep-ChrY/
newevals/eval_sweep-ChrY-K22/
reads-*
newevals/
merylDB/
winnowmap_repetitive_k15.txt
callgrind.out.*
gtl/
.vscode/c_cpp_properties.json
simulations/
*.fai
sweepmap
evals/refs/
