[submodule "ext/cmd_line_parser"]
	path = ext/cmd_line_parser
	url = https://github.com/jermp/cmd_line_parser
[submodule "ext/klib"]
	path = ext/klib
	url = https://github.com/attractivechaos/klib
[submodule "ext/pdqsort"]
	path = ext/pdqsort
	url = https://github.com/orlp/pdqsort
[submodule "ext/tensor-sketching"]
	path = ext/tensor-sketching
	url = https://github.com/ratschlab/Project2020-seq-tensor-sketching
[submodule "ext/tracy"]
	path = ext/tracy
	url = git@github.com:wolfpld/tracy.git
