.ipynb_checkpoints
.snakemake
FindSimSeqs/CalcGlobEditDistance
FindSimSeqs/FindSimSeqs
scripts/__pycache__
simulations
src/eskemap
src/sweep
evals/out*
evals/reads/
.vscode/settings.json
*.out
*.err
__pycache__/
src/*.d
src/*.o
ext/*.d
ext/*.o
indexDump.idx
newevals/eval_sweep-ChrY/
newevals/eval_sweep-ChrY-K22/
reads-*
newevals/
merylDB/
winnowmap_repetitive_k15.txt
callgrind.out.*
gtl/
.vscode/c_cpp_properties.json
simulations/
*.fai
map
evals/refs/
src/fenwick.h
evals/evals-table.tex
release/shmap
release_flag
debug/shmap
test_shmap
evals/chm13_gt.paf
evals/simple_test_gt.paf
debug_flag
src/fa2tsv
*.tsv
*.paf
*.zip
